{% extends 'base.html' %}
{% load static %}
{% block titulo %} Login de Usuário {% endblock %}
    {% block content %}

        {% block contheader %}
        <div class="page-heading" style="text-align: center;">
            <h1>Cadastre-se</h1>
        </div>
        {% endblock %}
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                      <div>
                        {% if messages %}
                          {% for m in messages %}
                            <div class="alert bg-{{ m.tags }}">
                              {{ m }}
                            </div>
                          {% endfor %}
                        {% endif %}
                      </div>
                        <form method="post" class="form">
                            {% csrf_token %}
                            <div class="form-group">
                              <input type="text" name="username" placeholder="Nome de Usuário"
                                     class="form-control">
                            </div>
                            <div class="form-group">
                              <input type="password" name="password" placeholder="Senha"
                                     class="form-control">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Entrar">
                        </form>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}